/*====================================
        GLOBAL STYLES
====================================*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Martel', serif;
  background-color: #eee;
  box-sizing: border-box;
}

h1 {
  color: #1F4821;
  font-size: 1.5em;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 15px 0 15px;
  background-color: #fff;
  border-radius: 10px;
}

fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

/*====================================
        HEADER
====================================*/

.header {
  margin-bottom: 10px;
  display: flex;
  height: 70px;
  justify-content: center;
  background-color: #4caf50;
}

.title {
  color: #fff;
  font-size: 1.5em;
}

/*====================================
        Signup
====================================*/

.signup {
  padding-top: 30px;
  text-align: center;
  border-bottom: 5px solid #1F4821;
}

.signup p {
  color: #a4a9ae;
  line-height: 20px;
  padding-bottom: 40px;
}

/*====================================
        Form
====================================*/

.formal {
  margin-top: 3px;
  border-top: 2px solid #1F4821;
}

legend h1 {
  padding: 30px 0 30px 0; 
}

legend {
  padding: 0;
  margin: 0;
  font-size: 1em;
}

input[name="user_name"],
input[type="email"],
input[type="number"],
input[type="text"],
input[type="tel"],
select,
textarea {
  text-indent: 20px;
  outline: 0;
  font-size: 16px;
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  border-radius: 5px;
  background-color: #eff0f1;
  border-style: none;
}

input[name="user_name"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  background-color: #b7dfb9;
  outline: none;
  box-shadow: 0 0 0 2px #4caf50;
  outline: none;
  transition: all 0.30s ease-in-out;
}

input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
  font-weight: bold;
  transition: all 0.10s ease-in;
}

input[name="user_name"]:valid,
input[type="email"]:valid {
  border-bottom: 3px solid #4caf50;
}

input[name="user_name"]:invalid,
input[type="email"]:invalid {
  border-bottom: 3px solid tomato;
}
      
::-webkit-input-placeholder {
  color: #4caf50;
  text-align: right;
  font-style: italic;
  padding-right: 15px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 15px 15px 0;
}

label {
  color: #55687a;
  padding-top: 15px;
}

input#user_zip {
  width: 35%;
}

/*====================================
        Newsletter
====================================*/

.newsletter {
  color: #6e7d8d;
  border-top: 2px solid #1F4821;
}

.ptop {
  margin-top: 0;
}

textarea {
  height: 100px;
}

.button {
  width: 100%;
  height: 60px;
  background-color: #4ebbb5;
  color: #fff;
  font-family: inherit;
  font-size: 1.25em;
  font-weight: 800;
  border-style: none;
  border-radius: 5px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 7px;
  text-align: center;
}

/*====================================
        Media Queries
====================================*/

@media (min-width: 768px) {
  
  .container {
    max-width: 768px;
    margin: 0 auto;
  }

  .form_container {
    max-width: 768px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }


  input[type="name"],
  input[type="email"],
  input[type="number"],
  input[type="text"],
  input[type="tel"],
  select {
    width: 80%;
  }
  
  textarea {
    max-width: 760px;
  }

  input#user_zip {
    margin-left: 85px;
    margin-right: auto;
    flex-basis: 25%;
  }


}

