/*====================================
        GLOBAL STYLES
====================================*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Martel', serif;
  background-color: #fff;
  box-sizing: border-box;
}

h1 {
  color: #2d3945;
  font-size: 1.5em;
}

.container {
  margin: 0 15px 0 15px;
}

/*====================================
        HEADER
====================================*/

.header {
  display: flex;
  height: 70px;
  justify-content: center;
  background-color: #2d3945;
}

.title {
  color: #fff;
  font-size: 1.5em;
}

/*====================================
        Signup
====================================*/

.signup {
  padding-top: 30px;
  text-align: center;
  border-bottom: 5px solid #2d3945;
}

.signup p {
  color: #a4a9ae;
  line-height: 20px;
  padding-bottom: 40px;
}

/*====================================
        Form
====================================*/

.form {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  border-top: 2px solid #2d3945;
  border-bottom: 2px solid #2d3945;
}

legend h1 {
  padding: 30px 0 30px 0; 
}

fieldset {
  padding: 0;
  border-style: none;
  width: 100%;
}

legend {
  padding: 0;
  margin: 0;
  font-size: 1em;
}

input[type="name"],
input[type="email"],
input[type="number"],
input[type="text"],
input[type="tel"],
select,
textarea {
  text-indent: 20px;
  outline: 0;
  font-size: 16px;
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  border-radius: 5px;
  background-color: #eff0f1;
  border-style: none;
}

input[type="name"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px #2d3945;
}

::-webkit-input-placeholder {
  text-align: right;
  font-style: italic;
  padding-right: 15px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 15px 15px 0;
}

label {
  color: #55687a;
  padding-top: 15px;
}

input#zip {
  width: 50%;
}

/*====================================
        Newsletter
====================================*/

.newsletter {
  display: flex;
  flex-direction: column;
  color: #6e7d8d;
}

.ptop {
  margin-top: 0;
}

textarea {
  height: 100px;
}

.button {
  height: 60px;
  background-color: #4ebbb5;
  color: #fff;
  font-family: inherit;
  font-size: 1.25em;
  font-weight: 800;
  border-style: none;
  border-radius: 5px;
}

.footer {
  padding-top: 20px;
  text-align: center;
}